* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Brush Script MT", sans-serif; /* Поміняти шрифт */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #000000;
}

.main-coin-icon {
    width: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/home_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.coin-icon {
    width: 90%;
}

.coin-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 1%;
    color: white;
    font-size: 60px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.progress-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #555;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 100%;
    background: linear-gradient(156deg, rgba(104, 255, 154, 1) 0%, rgba(0, 83, 26, 1) 100%);
    border-radius: 20px;
    transition: width 0.5s;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    color: white;
    font-weight: bold;
    line-height: 30px; /* Same as the height of the progress bar */
}

.content-container {
    width: 100%;
}

.content {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    padding: 30px 30px 0;
}

.content.active {
    visibility: visible;
    position: relative;
}

.tasks-wrapper {
    width: 100%;
}

.tasks-navigation {
    display: flex;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    gap: 5px;
}

.navigation-item {
    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.navigation-item.active {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
}

.tasks-list {
    position: relative;
    overflow-y: scroll;
    height: 50vh;
    margin-top: 15px;
}

.tasks-list-content {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tasks-list-content.active {
    position: relative;
    visibility: visible;
}

.task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 10px;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    border-radius: 15px;
}

.task-info-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.task-list-icon {
    height: 40px;
}

.boosts-wrapper {

}

.daily-boosters {
    margin-top: 10%;
    padding-top: 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.daily-boosters-title {
    font-weight: 600;
    margin-bottom: 3%;
}

.daily-boosters-wrapper {
    display: flex;
    gap: 5%;
}

.daily-boosters-item {
    width: 50%;
    display: flex;
    gap: 5%;
    align-items: center;
    box-shadow: inset 0 0 300px 200px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 3%;
    font-size: 14px;
}

.boosters-icon {
    width: 20%;
}

.boosters-item-title {
    font-weight: 600;
}

.general-boosters {
    margin-top: 7%;
}

.general-boosters-title {
    font-weight: 600;
}

.general-boosters-list {
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.boost-list-item {
    display: flex;
    gap: 2%;
}

.boost-item-icon {
    width: 10%;
}

.ref-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.ref-link-container {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 25px;
    width: 100%;
}

.ref-counter {
    display: inline-block;
    margin-bottom: 30px;
}

.ref-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ref-text {
    font-size: 25px;
}

.ref-btn {
    font-size: 20px;
    padding: 5px 15px;
    color: #ffffff;
    background: linear-gradient(156deg, rgba(104, 255, 154, 1) 0%, rgba(0, 83, 26, 1) 100%);
    border: none;
    border-radius: 15px;
}

.ref-btn:disabled {
    background: rgba(0, 0, 0, 0.5);
    color: linen;
}

.ref-link {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.ref-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.ref-friends {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

.ref-friends-header {
    font-size: 24px;
    margin-top: 20px;
}

.ref-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 29vh;
    gap: 5px;
    margin-top: 15px;
}

.ref-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 20px;
}

.ref-empty {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 75px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu-item {
    color: white;
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.floating-number {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    animation: floatUp 2s ease-out forwards;
    pointer-events: none;
}

.menu-icon {
    width: 23%;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
